<div class="pl-region">
    <div class="region-wrap pl-region-wrap-template pl-row no-pad" data-contains-level="0">
        <!-- Static Content | Section -->
        <section id="static-content_u1cad1bf" class="pl-sn pl-col-sm-12 pl-col-sm-offset-0 pl-sn-static-content"
                 data-object="PL_Content" data-clone="u1cad1bf" data-level="0">
            <div class="pl-sn-wrap">
                <div class="pl-sn-pad fix" data-bind="pledit: true">
                    <div class="pl-page-content"
                         data-bind="plclassname: [ (tplwrap() == 'wrapped') ? 'pl-content-area pl-content-layout' : '' ]">
                        <div class="static-template">
                            <div class="static-template-content">

                                <!-- Canvas Area | Section Template -->
                                <section id="pl_areaucf789" data-object="PLSectionArea" data-sid="pl_area"
                                         data-clone="ucf789"
                                         class="pl-area pl-area-sortable area-tag    pl-bg-cover section-pl_area"
                                         style="  ">
                                    <div class="pl-area-pad fix">
                                        <div class="pl-area-wrap " style="padding-top: 20px; padding-bottom: 20px;">

                                            <div class="pl-content nested-section-area">
                                                <div class="pl-inner area-region pl-sortable-area editor-row" style="">
                                                    <div class="row grid-row">

                                                        <!-- Column | Section Template -->
                                                        <section id="plcolumnu403da" data-object="PLColumn"
                                                                 data-sid="plcolumn" data-clone="u403da"
                                                                 class="pl-section span8 offset0 force-start-row    pl-bg-cover section-plcolumn"
                                                                 style="  ">
                                                            <div class="pl-section-pad fix">
                                                                <div class="pl-sortable-column pl-sortable-area editor-row ">

                                                                    <div class="row grid-row">

                                                                        <!-- WP Content/Loop | Section Template -->
                                                                        <section id="postloopucf843"
                                                                                 data-object="PageLinesPostLoop"
                                                                                 data-sid="postloop" data-clone="ucf843"
                                                                                 class="pl-section span12 offset0    pl-bg-cover single-post section-postloop"
                                                                                 style="  ">
                                                                            <div class="pl-section-pad fix">
                                                                                <div class="pl-new-loop">
                                                                                    <article id="post-653"
                                                                                             class=" standard-page pl-border hentry pl-new-loop post-653 page type-page status-publish">

                                                                                        <h1 class="title"><a
                                                                                                >About Me</a>
                                                                                        </h1>
                                                                                        <div class="content">
                                                                                            <p class="to-animate fadeInUp animated">Hello, my name is <strong>Dhananjay Ghanwat!</strong> I'm a Technical Architect based in India. Currently working for leading IT Service company. I specialize in designing and developing software applications. My attention to detail is extreme and I love to continually learn what's new all things design-related.</p>
                                                                                            <p class="to-animate fadeInUp animated">I have a strong passion for creativity and discipline that goes into application development. Keeping in mind scalability and clean code that is maintainable and readable.</p>
                                                                                            <p class="to-animate fadeInUp animated">In my free time, I enjoy being outdoors, listening to music, traveling and experiencing new and exciting adventures.</p>
                                                                                        </div>

                                                                                    </article><!-- #post-## -->
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </div>
                                                                    <span class="pl-column-forcer">&nbsp;</span>
                                                                </div>
                                                            </div>
                                                        </section>

                                                        <!-- Column | Section Template -->
                                                        <section id="plcolumnu40492" data-object="PLColumn"
                                                                 data-sid="plcolumn" data-clone="u40492"
                                                                 class="pl-section span4 offset0    pl-bg-cover section-plcolumn"
                                                                 style="  ">
                                                            <div class="pl-section-pad fix">
                                                                <div class="pl-sortable-column pl-sortable-area editor-row ">

                                                                    <div class="row grid-row">

                                                                        <!-- MediaBox | Section Template -->
                                                                        <section id="mediaboxuc2b3i2"
                                                                                 data-object="PageLinesMediaBox"
                                                                                 data-sid="mediabox"
                                                                                 data-clone="uc2b3i2"
                                                                                 class="pl-section span12 offset0    pl-bg-cover no-pad section-mediabox"
                                                                                 style="  padding-top: 40px;">
                                                                            <div class="pl-section-pad fix">
                                                                                <div class="mediabox-wrap pl-centerer pla-fade pl-animation fix animation-loaded"
                                                                                     style="min-height: 30px">
                                                                                    <div class="the-media fitvids pl-centered center hentry"
                                                                                         style="margin-top: 0px;">
                                                                                        <img src="/img/logo/dg.jpg"
                                                                                             data-sync="mediabox_image"
                                                                                             alt="" title="">
                                                                                        <div class="the-media-html"></div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </section>
                                                                    </div>


                                                                    <span class="pl-column-forcer">&nbsp;</span>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
