<div class="pl-region">
  <div class="region-wrap pl-region-wrap-template pl-row no-pad" data-contains-level="0">
    <!-- Static Content | Section -->
    <section id="static-content_u1cad1bf" class="pl-sn pl-col-sm-12 pl-col-sm-offset-0 pl-sn-static-content"
             data-object="PL_Content" data-clone="u1cad1bf" data-level="0">
      <div class="pl-sn-wrap">
        <div class="pl-sn-pad fix" data-bind="pledit: true">
          <div class="pl-page-content"
               >
            <div class="static-template">
              <div class="static-template-content">
                <!-- Canvas Area | Section Template -->
                <section id="pl_areaubc3c2" data-object="PLSectionArea" data-sid="pl_area" data-clone="ubc3c2"
                         class="pl-area pl-area-sortable area-tag    pl-bg-cover section-pl_area" style="  ">
                  <div class="pl-area-pad fix">
                    <div class="pl-area-wrap " style="padding-top: 0px; padding-bottom: 0px;">
                      <div class="pl-content ">
                        <div class="pl-inner area-region pl-sortable-area editor-row" style="">
                          <div class="row grid-row">
                            <!-- Column | Section Template -->
                            <section id="plcolumnubc479" data-object="PLColumn" data-sid="plcolumn" data-clone="ubc479"
                                     class="pl-section span12 offset0    pl-bg-cover section-plcolumn" style="  ">
                              <div class="pl-section-pad fix">
                                <div class="pl-sortable-column pl-sortable-area editor-row ">
                                  <div class="row grid-row">
                                    <!-- iBlog | Section Template -->
                                    <section id="ibloguqcl0lc" data-object="iBlog" data-sid="iblog" data-clone="uqcl0lc"
                                             class="pl-section span12 offset0    pl-bg-cover multi-post section-iblog"
                                             style="  ">
                                      <div class="pl-section-pad fix">
                                        <!-- content here -->
                                        <article id="post-1196" class="use-flex-gallery post-1196 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">

                                          <div class="ipost-text">

                                            <h1 class="title">Advertise With Us</h1>

                                            <div class="content">
                                              <p>We are a respected blog with niche content. It provides useful best practices,
                                                tutorials, articles, code samples and snippets on latest technologies such as Core
                                                Java, AngularJS , Design Patterns, Ionic Framework, Scala etc.
                                              <p> This blog can help you to reach a loyal audience of influential bloggers, coders and website
                                              owners who visit this blog on regular basis.</p>
                                              <h3>Send me a mail at <a href="mailto:dhananjay.ghanwat@gmail.com">dhananjay.ghanwat@gmail.com</a> to discuss your budget/plan.</h3>

                                            </div>
                                          </div>
                                        </article>
                                      </div>
                                    </section>
                                  </div>
                                  <span class="pl-column-forcer">&nbsp;</span>
                                </div>
                              </div>
                            </section>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
