<div class="pl-region">
  <div class="region-wrap pl-region-wrap-template pl-row no-pad" data-contains-level="0">
    <!-- Static Content | Section -->
    <section id="static-content_u1cad1bf" class="pl-sn pl-col-sm-12 pl-col-sm-offset-0 pl-sn-static-content"
             data-object="PL_Content" data-clone="u1cad1bf" data-level="0">
      <div class="pl-sn-wrap">
        <div class="pl-sn-pad fix" data-bind="pledit: true">
          <div class="pl-page-content"
               >
            <div class="static-template">
              <div class="static-template-content">
                <!-- Canvas Area | Section Template -->
                <section id="pl_areaubc3c2" data-object="PLSectionArea" data-sid="pl_area" data-clone="ubc3c2"
                         class="pl-area pl-area-sortable area-tag    pl-bg-cover section-pl_area" style="  ">
                  <div class="pl-area-pad fix">
                    <div class="pl-area-wrap " style="padding-top: 0px; padding-bottom: 0px;">
                      <div class="pl-content ">
                        <div class="pl-inner area-region pl-sortable-area editor-row" style="">
                          <div class="row grid-row">
                            <!-- Column | Section Template -->
                            <section id="plcolumnubc479" data-object="PLColumn" data-sid="plcolumn" data-clone="ubc479"
                                     class="pl-section span12 offset0    pl-bg-cover section-plcolumn" style="  ">
                              <div class="pl-section-pad fix">
                                <div class="pl-sortable-column pl-sortable-area editor-row ">
                                  <div class="row grid-row">
                                    <!-- iBlog | Section Template -->
                                    <section id="ibloguqcl0lc" data-object="iBlog" data-sid="iblog" data-clone="uqcl0lc"
                                             class="pl-section span12 offset0    pl-bg-cover multi-post section-iblog"
                                             style="  ">
                                      <div class="pl-section-pad fix">
                                        <!-- content here -->
                                        <article id="post-1196" class="use-flex-gallery post-1196 post type-post status-publish format-standard has-post-thumbnail hentry category-blog">

                                          <div class="ipost-text">

                                            <h1 class="title">Privacy Policy</h1>

                                            <div class="content">
                                              <p>In this website, you are required to :</p>
                                              <span>1) enter your email address to get latest updates from this blog directly into your email box for free</span><br/>
                                              <span>2) enter your name, email and website you own, when you put a comment on any post</span><br/><br/>

                                              <p>Apart from this, you are not expected to put any personal information anywhere in this blog, including comments, which you may not want to make public.
                                              </p>

                                              <h4>How do we use your information?</h4>
                                              <p>This website will use your email addresses to send you notifications about new posts when they are published. You may also get weekly updates which will include all happenings in last week in form of a guide.
                                              </p>
                                              <p>When you leave a comment of this website, you may get a notification regarding your comment approval/denial.</p>

                                              <h4>Disclose of information</h4>
                                              <p>I do not sell, trade, release, or otherwise transfer information partially or in its entirety to any third party unless pursuant of an investigation of suspected unlawful, harmful, or otherwise illegal activity (including enforcement of our site’s policies, protection to our rights, property, and/or safety or the rights, property, and/or safety of others), or strictly required to by law as a direct result of such proceedings as a court order or a legal process.
                                              </p>

                                              <h4>Third party cookies</h4>
                                              <p>This site use third-party advertising companies to serve ads whenever a visitor comes to this website. These companies may use information (not including your name, address, email address, or telephone number) about your visits to this and other websites in order to provide advertisements about goods and services of interest to you.
                                              </p>

                                              <h4>Consent</h4>
                                              <p>By using our site, you consent and are in agreeance with our privacy policy.
                                              </p>

                                              <h4>Changes</h4>
                                              <p>Should our privacy policy ever be changed, updated, or expanded, any revisions to will be posted on this page.
                                              </p>

                                              <h4>Contacting Us</h4>
                                              <p>Send me a mail at <a href="mailto:outofmymemory@gmail.com">outofmymemory@gmail.com</a></p>

                                            </div>
                                          </div>
                                        </article>
                                      </div>
                                    </section>
                                  </div>
                                  <span class="pl-column-forcer">&nbsp;</span>
                                </div>
                              </div>
                            </section>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
