.no-bt-mgr {
  margin-bottom: 0px !important;
}
.pull-right {
  float: right !important;
}

.disqus-footer__wrapper {
  display: none !important;
}

.logo-cls img {
  width: 220px !important;
  padding-bottom: 5px;
}
